body{
    background-color: rgb(163, 163, 163);
    font-family: sans-serif;
    box-sizing: border-box;


}

#logo-slr{
    height: 75px;
    width: 75px;
    margin: 0 auto ;
 
  
}
.container{
  border:solid 2px black;
  height: 80px;
  padding-top: 25px;
  padding-left: 10px;

  
  
}
.nosotros{
    height: 50px;
    width: 150px;
    border: solid 2px black;
    float: left;
    text-align: center;
   
    
    
    
    



}
.contacto{
    height: 50px;
    width: 150px;
    border: solid 2px black;
    float: left;
    text-align: center;
    margin-left: 10px;
    

    
    
    
}

.nosotros:hover{
    text-shadow: 0 0 2px yellow;
} .contacto:hover{
    text-shadow: 0 0 2px yellow;
}
.container-central{
    height: 600px;
    border: solid 2px black;
    margin-top: 10px;
}
#img-1{
    height: 300px;
    width: 300px;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
}
.texto-img1{
   float: left;
   margin-top: 20px;
   margin-left: 25px;
}

footer{
    height: 150px;
    border: solid 2px black;
    margin-top: 10px;
}

.everfree-logo{
    height: 90px;
    border-radius: 20px;
}
.golden-lion-logo{
    height: 90px;
    width: 120px;
    border-radius: 20px;
}


.everfree-logo, .golden-lion-logo{
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    

}


.slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left, #ba7453, #d1a894);
    z-index: -1;
}

nav{
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10% ;
    min-height: 10vh;
    color:white;
    align-items: center;
}
.hamburger{
    width: 40px;
    height: 40px;
    justify-self: end;
}

.photo-group{
    height: 200px;
    width: 200px;
    margin-top: 100px;
}
#nosotros-title{
    grid-column: 2/3;
}

section{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to right, rgb(247, 218, 4), rgb(0, 0, 0));

}
.hero{
    height: 80%;
    width: 100%;
    position: relative;
}

.hero img{
width: 100%;
height: 100%;
/*object-fit:cover*/
}

.headline{
position: absolute;
top:70%;
left: 0%;
font-size:80px  ;
transform: translate(5%, -20%);
color: yellow;
text-shadow: 1px 1px 2px black, 0 0 25px gold, 0 0 5px yellow;
z-index: 3;
}

.hero::after{
    content: "";
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0.25;
    top: 0;
}
a{
    text-decoration: none;
    color: black;
}
